<!DOCTYPE html>
<html>
<head>

	<!-- our lovely css -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	<link href="assets/css/questions.css" rel="stylesheet" media="screen">

	<!-- socket stuff -->
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- add external libs that we wish to use in our app -->
	<script type="text/javascript" src="/libs/underscore.js"></script>
	<script type="text/javascript" src="/libs/zepto.js"></script>
	<script type="text/javascript" src="/libs/backbone.js"></script>
	<script type="text/javascript" src="/libs/handlebars.js"></script>
	<script type="text/javascript" src="/libs/module.js"></script>

	<!-- infrastructure -->
	<script type="text/javascript" src="/script/infrastructure/view.js"></script>

	<!-- app -->
	<script type="text/javascript" src="/script/models/models.js"></script>

	<script type="text/javascript" src="/script/views/addQuestion.js"></script>
	<script type="text/javascript" src="/script/views/questionResults.js"></script>
	<script type="text/javascript" src="/script/views/vote.js"></script>

	<script type="text/javascript" src="/script/app.js"></script>

	<!-- templates -->
	<script type="template" id="answerTemplate">
		{{#each answers}}
		<div class="answer">
			<h4>{{text}}</h4>
			<div class="imageWrapper" data-id="{{id}}">
				<img src="{{image}}" alt="{{text}}" data-id="{{id}}"/>
			</div>
		</div>
		{{/each}}
	</script>	

</head>
<body>
	<header>
		<h1>Questions</h1>
	</header>
	<section id="app-wrapper">
		<section id="add">
			<h2>Add a question</h2>
			<input id="question" type="text" value="" />
			<button id="questionSubmit">Submit Question</button>
		</section>
		<section id="vote">
			<section class="question">
				<span id="text"></span>
			</section>
			<section class="timeLeft">
				<span id="time"></span>
			</section>			
			<section class="answers">
			</section>
		</section>
		<section id="results">
			<h2>Please see the TV for results</h2>
		</section>
	</section>
	<script>
		var currentQuestion = <%- currentQuestion %>;
	</script>
</body>
</html>