<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

	<!-- our lovely css -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	<link href="assets/css/questions.css" rel="stylesheet" media="screen">
	<link href="assets/css/tv.css" rel="stylesheet" media="screen">

	<!-- socket stuff -->
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- add external libs that we wish to use in our app -->
	<script type="text/javascript" src="/libs/underscore.js"></script>
	<script type="text/javascript" src="/libs/zepto.js"></script>
	<script type="text/javascript" src="/libs/backbone.js"></script>
	<script type="text/javascript" src="/libs/handlebars.js"></script>
	<script type="text/javascript" src="/libs/module.js"></script>

	<!-- infrastructure -->
	<script type="text/javascript" src="/script/infrastructure/view.js"></script>

	<!-- app -->
	<script type="text/javascript" src="/script/models/models.js"></script>

	<script type="text/javascript" src="/script/views/idle.js"></script>
	<script type="text/javascript" src="/script/views/ongoing.js"></script>
	<script type="text/javascript" src="/script/views/displayResults.js"></script>


	<script type="text/javascript" src="/script/display.js"></script>

	<!-- templates -->
	<script type="template" id="answerTemplate">
		{{#each answers}}
		<div class="answer">
			<h4>{{text}}</h4>
			<div class="imageWrapper" data-id="{{id}}">
				<img src="{{image}}" alt="{{text}}" data-id="{{id}}"/>
			</div>
		</div>
		{{/each}}
	</script>	


	<script type="template" id="resultTemplate">
		{{#each answers}}
		<div class="answer">
			<h4>{{text}}</h4>
			<div class="imageWrapper" data-id="{{id}}">
				<img src="{{image}}" alt="{{text}}" data-id="{{id}}"/>
			</div>
			<h4 class="voteNumber">{{voteCount}} votes</h4>
		</div>
		{{/each}}
	</script>	

</head>
<body>
	<nav>
		<h1>Shit Question Machine</h1>
	</nav>
	<section id="app-wrapper" class="loading">
		<section id="loading"></section>
		<section id="idle">
			<p class="prompt">
				Visit <span id="domain">something.com/</span> on your phone to propose a new question.
			</p>
			<h2>Previous Questions</h2>
			<section id="previous">
				<div id="previousQuestion"><span>This is a test quesiton here bla bla bla sample text</span></div>
				<div id="previousWinnder">
					<div class="answer">
						<h4>Adil</h4>
						<div class="imageWrapper">
							<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c27.27.335.335/s160x160/64497_643779635930_1524129930_n.jpg" alt="eh" />
						</div>
						<h4 class="voteNumber">15 votes</h4>
					</div>
					<div class="answer">
						<h4>Adil</h4>
						<div class="imageWrapper">
							<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c27.27.335.335/s160x160/64497_643779635930_1524129930_n.jpg" alt="eh" />
						</div>
						<h4 class="voteNumber">5 votes</h4>
					</div>
					<div class="answer">
						<h4>Adil</h4>
						<div class="imageWrapper">
							<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c27.27.335.335/s160x160/64497_643779635930_1524129930_n.jpg" alt="eh" />
						</div>
						<h4 class="voteNumber">2 votes</h4>
					</div>										
				</div>
			</section>
		</section>
		<section id="ongoing">
			<h2>Present Question</h2>
			<span id="currentQuestion"></span>
			<p class="prompt">
				Go to <span id="domain">something.com/</span> on your phone to answer.
			</p>		
		</section>
		<section id="questionResults">
			<div id="previousQuestion"><span>Question Just Asked</span></div>
			<div id="previousWinnder">
				<div class="answer">
					<h4>Adil</h4>
					<div class="imageWrapper">
						<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c27.27.335.335/s160x160/64497_643779635930_1524129930_n.jpg" alt="eh" />
					</div>
					<h4 class="voteNumber">15 votes</h4>
				</div>
				<div class="answer">
					<h4>Adil</h4>
					<div class="imageWrapper">
						<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c27.27.335.335/s160x160/64497_643779635930_1524129930_n.jpg" alt="eh" />
					</div>
					<h4 class="voteNumber">5 votes</h4>
				</div>
				<div class="answer">
					<h4>Adil</h4>
					<div class="imageWrapper">
						<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c27.27.335.335/s160x160/64497_643779635930_1524129930_n.jpg" alt="eh" />
					</div>
					<h4 class="voteNumber">2 votes</h4>
				</div>										
			</div>			
		</section>
	</section>
	<footer>
		Lovingly made by 4Heads - A Minor Smash Production &copy; 2013
	</footer>
	<script>
		var currentQuestion = <%- currentQuestion %>;
	</script>
</body>
</html>

<!--
Pallet
 Green:  #2DA84E
 Brown:  #C2653C
 Red:    #EE3F2A
 Yellow: #F6DE0A
 Blue:   #95D8E1
 Gold:   #D4A825
 Blue:   #D4A825
 Pink:   #FACFD8
 Orange: #ED6E37

<!DOCTYPE html>
<html>
<head>
  <title>Real time display</title>
  <style>
  	body {
  		background-color: #6B6663;
  	}
	.chart div {
	   font: 20px sans-serif;
	   background-color: #EF5142;
	   text-align: right;
	   padding: 3px;
	   margin: 1px;
	   color: white;
	 }
  </style>
</head>
<body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
  <script type="text/javascript">
    var colourCount = -1;
    function nextColour() {
		var colours = ["#2DA84E", "#C2653C", "#EE3F2A", "#F6DE0A", "#95D8E1", "#ED6E37", "#D4A825", "#FACFD8"];
    	colourCount++;
    	if(colourCount == colours.length ){
    		colourCount = 0;
    	}
    	return colours[colourCount];
    }

  	var data = [4, 8, 15, 16, 23, 42, 100];
  	var chart = d3.select("body").append("div").attr("class", "chart");
  	chart.selectAll("div")
  	  .data(data)
      .enter().append("div")
      .style("width", function(d) { return d * 10 + "px"; })
      .style("background-color", function(d) { 
      								return nextColour();
      							})
      .text(function(d) { return d; });

    setTimeout(function(){
    	for(var i in data){
    		data[i] = (Math.random() < 0.51 ? data[i] + 2 : data[i] - 2);
    	}
    }, 1500);

  </script>
</body>
</html>

-->