<!--
Pallet
 Green:  #2DA84E
 Brown:  #C2653C
 Red:    #EE3F2A
 Yellow: #F6DE0A
 Blue:   #95D8E1
 Gold:   #D4A825
 Blue:   #D4A825
 Pink:   #FACFD8
 Orange: #ED6E37
-->

<!DOCTYPE html>
<html>
<head>
  <title>Real time display</title>
  <style>
  	body {
  		background-color: #6B6663;
  	}
	.chart div {
	   font: 20px sans-serif;
	   background-color: #EF5142;
	   text-align: right;
	   padding: 3px;
	   margin: 1px;
	   color: white;
	 }
  </style>
</head>
<body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
  <script type="text/javascript">
    var colourCount = -1;
    function nextColour() {
		var colours = ["#2DA84E", "#C2653C", "#EE3F2A", "#F6DE0A", "#95D8E1", "#ED6E37", "#D4A825", "#FACFD8"];
    	colourCount++;
    	if(colourCount == colours.length ){
    		colourCount = 0;
    	}
    	return colours[colourCount];
    }

  	var data = [4, 8, 15, 16, 23, 42, 100];
  	var chart = d3.select("body").append("div").attr("class", "chart");
  	chart.selectAll("div")
  	  .data(data)
      .enter().append("div")
      .style("width", function(d) { return d * 10 + "px"; })
      .style("background-color", function(d) { 
      								return nextColour();
      							})
      .text(function(d) { return d; });

    setTimeout(function(){
    	for(var i in data){
    		data[i] = (Math.random() < 0.51 ? data[i] + 2 : data[i] - 2);
    	}
    }, 1500);

  </script>
</body>
</html>